@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "SF Pro Text";
  src: url("/ścieżka/do/SF-Pro-Text.woff2") format("woff2"),
    url("../fonts/SF-pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Icons";
  src: url("/ścieżka/do/SF-Pro-Icons.woff2") format("woff2"),
    url("/ścieżka/do/SF-Pro-Icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
